core/src/test/resources/3_simple_element_with_non_local_complex_type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="SimpleBasicElement" type="RemoteType"/>

    <xs:complexType name="RemoteType">
        <xs:sequence>
            <xs:element name="elementOne" type="xs:string"/>
            <xs:element name="elementTwo" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>