src/test/resources/import_dir/define_a_type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="import_dir_tests"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="RemoteTypeToInclude">
        <xs:sequence>
            <xs:element name="elementOne" type="xs:string"/>
            <xs:element name="elementTwo" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>