src/test/resources/attribute_super_test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="testing"
           targetNamespace="testing">

    <xs:element name="attributeTest" type="AttributeTest"/>

    <xs:complexType name="AttributeBase">
        <xs:attribute name="baseAttribute1"/>
    </xs:complexType>

    <xs:complexType name="AttributeTest">
        <xs:complexContent>
            <xs:extension base="AttributeBase">
                <xs:attribute name="my-attr"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>